body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    font-size: 24px;
}

.lettersKeyboard{
    display: flex;
    align-items: center;
    text-align: center;
}

.lettersKeyboard td button{
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 5px;
}

.lettersKeyboard button:hover{
    background-color: rgba(237, 237, 237, 0.542);
}

.table__keyboard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table__words td{
    height: 70px;
    width: 70px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10%;
}

.words{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 215px 0;
}
